.dashboard-container {
    position: relative;
    display: flex;
  }
  
  .popup {
    position: absolute; /* Posiciona o popup de forma absoluta em relação ao contêiner pai */
    top: 50%; /* Define a posição vertical do popup (centrado verticalmente) */
    left: 50%; /* Define a posição horizontal do popup (centrado horizontalmente) */
    transform: translate(-50%, -50%); /* Centraliza o popup */
    z-index: 0;
    /* Adicione outros estilos de dimensionamento, margens, etc., conforme necessário */
  }
  